@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:wght@100;300&family=Poppins:ital,wght@0,300;0,600;1,400;1,700;1,900&family=Roboto:ital,wght@0,300;1,100;1,400;1,900&display=swap');

$Koulen: 'Koulen', cursive;
$Montserrat: 'Montserrat', sans-serif;
$Poppins: 'Poppins', sans-serif;
$Roboto: 'Roboto', sans-serif;

